* {
  font-family: "Montserrat", sans-serif;
}

.mt-2 {
  margin: 2em 0;
}

hr {
  width: 67%;
}

.slick-next:before,
.slick-prev:before {
  color: #eae8e8 !important;
  font-size: 50px !important;
  background: none !important;
}

.slick-next,
.slick-prev {
  width: 3% !important;
}

input[type="text"] {
  border-radius: 57px;
  background: #f1f2f2;
  border: none;
  padding: 20px;
  width: 50%;
  margin: 1em 0;
}

@media only screen and (max-width: 1024px) {
  input[type="text"] {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  input[type="text"] {
    padding: 10px;
    margin: 0.5em;
  }
}

@media only screen and (max-width: 481px) {
  input[type="text"] {
    width: 90%;
  }
}

.slick-slide img {
  display: initial !important;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

select {
  background: url("../img/arrow-down.svg") no-repeat 90% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  border-radius: 57px;
  background-color: #f1f2f2;
  border: none;
  padding: 20px;
  width: 57%;
  margin: 1em 0;
  color: #b2b1b1;
  text-align: center;
  cursor: pointer !important;
}

@media only screen and (max-width: 1024px) {
  select {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  select {
    padding: 20px;
    margin: 0.5em;
    width: 85%;
  }
}

@media only screen and (max-width: 481px) {
  select {
    width: 97%;
  }
}

.promo_code {
  background: #0c55a0;
  text-align: center;
  padding: 1em 0;
}

.promo_code__title {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
}

.promo_code__culture {
  font-weight: bold;
}

.section_1 {
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

@media only screen and (max-width: 481px) {
  .section_1 {
    display: block;
  }
}

.section_1__logo {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .section_1__logo {
    width: 70%;
  }
}

@media only screen and (max-width: 481px) {
  .section_1__logo {
    width: 40%;
  }
}

.section_1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  .section_1__list {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .section_1__list {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 481px) {
  .section_1__list {
    display: none;
  }
}

.section_1__step-1 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .section_1__step-1 {
    width: 20%;
    padding: 10px;
  }
}

.section_1__step-1 .step-1 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #0c55a0;
  font-weight: 600;
  padding-left: 26px;
}

@media only screen and (max-width: 1024px) {
  .section_1__step-1 .step-1 {
    text-align: left;
    padding-left: 10px;
    width: 15%;
    font-size: 0.73rem;
  }
}

.section_1__step-2 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .section_1__step-2 {
    width: 20%;
    padding: 10px;
  }
}

.section_1__step-2 .step-2 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

@media only screen and (max-width: 1024px) {
  .section_1__step-2 .step-2 {
    text-align: left;
    padding-left: 10px;
    width: 15%;
    font-size: 0.73rem;
  }
}

.section_1__step-3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .section_1__step-3 {
    width: 20%;
    padding: 10px;
  }
}

.section_1__step-3 .step-3 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

@media only screen and (max-width: 1024px) {
  .section_1__step-3 .step-3 {
    text-align: left;
    padding-left: 10px;
    width: 15%;
    font-size: 0.73rem;
  }
}

.section_1__step-4 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .section_1__step-4 {
    width: 20%;
    padding: 10px;
  }
}

.section_1__step-4 .step-4 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

@media only screen and (max-width: 1024px) {
  .section_1__step-4 .step-4 {
    text-align: left;
    padding-left: 10px;
    width: 15%;
    font-size: 0.73rem;
  }
}

.section_2 {
  text-align: center;
}

.section_2__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 3em 0;
}

@media only screen and (max-width: 768px) {
  .section_2__title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 481px) {
  .section_2__title {
    padding: 1em;
  }
}

.section_2__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1366px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 481px) {
  .section_2__col {
    display: block;
    width: 100%;
  }
}

.section_2__col__col-1 {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .section_2__col__col-1 {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .section_2__col__col-1 {
    width: 70%;
  }
}

@media only screen and (max-width: 481px) {
  .section_2__col__col-1 {
    width: 100%;
  }
}

.section_2__col__col-1 .kalorie {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .section_2__col__col-1 .kalorie {
    width: 80%;
  }
}

@media only screen and (max-width: 481px) {
  .section_2__col__col-1 .kalorie {
    width: 80%;
  }
}

.section_2__col__col-2 {
  width: 50%;
  text-align: left;
}

@media only screen and (max-width: 481px) {
  .section_2__col__col-2 {
    width: 85%;
    padding: 20px;
  }
}

.section_2__col__col-2__label {
  width: 100% !important;
  font-size: 1.063rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.section_2__col__col-2 .input {
  width: 100%;
}

.button {
  text-align: center;
  display: block;
}

.button__btn {
  background: #0c55a0;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  border: none;
  border-radius: 57px;
  margin-top: 3em;
  text-align: center;
}

.button__agreement {
  font-size: 0.75rem;
  color: #b2b1b1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 2em 0;
}

.steps {
  -webkit-box-shadow: 3px 5px 6px #ccc;
          box-shadow: 3px 5px 6px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
}

.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__step-1 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__step-1 .step-1 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

.steps__step-2 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__step-2 .step-2 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #0c55a0;
  font-weight: 600;
  padding-left: 26px;
}

.steps__step-3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__step-3 .step-3 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

.steps__step-4 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__step-4 .step-4 {
  font-size: 0.83rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding-left: 26px;
}

.step_2 {
  text-align: center;
}

.step_2__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 3em 0 0.5em 0;
}

@media only screen and (max-width: 481px) {
  .step_2__title {
    font-size: 2rem;
  }
}

.step_2__sel {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #0c55a0;
  font-weight: 600;
}

@media only screen and (max-width: 481px) {
  .step_2__sel {
    padding: 10px;
  }
}

.choose_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 75%;
  padding: 5em 0 3em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
}

.choose_plan .plan_1 {
  width: 33%;
  text-align: center;
  position: relative !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .choose_plan .plan_1 {
    width: auto;
  }
}

@media only screen and (max-width: 768px) {
  .choose_plan .plan_1 {
    width: auto;
  }
}

.choose_plan .plan_1__tl_50 {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.choose_plan .plan_1__title {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.choose_plan .plan_1__desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 0.5em 0;
}

.choose_plan .plan_2 {
  width: 33%;
  text-align: center;
  position: relative !important;
}

.choose_plan .plan_2__tl_50 {
  position: absolute !important;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.choose_plan .plan_2__title {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.choose_plan .plan_2__desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 0.5em 0;
}

.choose_plan .plan_2__desc2 {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 1em 0;
}

.choose_plan .plan_3 {
  width: 33%;
  text-align: center;
  position: relative !important;
}

.choose_plan .plan_3__tl_50 {
  position: absolute !important;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.choose_plan .plan_3__title {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.choose_plan .plan_3__desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 0.5em 0;
}

.choose_plan .plan_3__desc2 {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 1em 0;
}

.promo {
  text-align: center;
}

.promo__off {
  font-size: 1rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.choose_week {
  text-align: center;
}

.choose_week__btn {
  background: #0c55a0;
  padding: 20px 60px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  border: none;
  border-radius: 57px;
  margin-top: 3em;
  text-align: center;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5em 0 3em 0;
  max-width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 481px) {
  .week {
    display: block;
  }
}

.week__plan {
  width: 50%;
  text-align: center;
  position: relative !important;
}

@media only screen and (max-width: 481px) {
  .week__plan {
    width: 100%;
  }
}

.week__plan .tl_50 {
  position: absolute !important;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.week__plan .tl_50 .title {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  font-weight: 600;
}

.week__plan .tl_50 .desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 1.5em 0 0.5em 0;
}

.week__plan .tl_50 .desc-2 {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 0.5em 0;
}

.week__calendar {
  width: 50%;
  text-align: left;
}

@media only screen and (max-width: 481px) {
  .week__calendar {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
  }
}

.week__calendar .start_date {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #0c55a0;
}

.options {
  font-size: 0.8rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.choosing_food {
  text-align: center;
  overflow: hidden;
}

.choosing_food__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 3em 0 1em 0;
}

.choosing_food__foods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
}

.choosing_food__foods__item {
  width: 25%;
}

.choosing_food__foods__title {
  font-size: 1.25rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

.choosing_food__foods__desc {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  padding-top: 0.856em;
}

.choosing_food__foods__cart {
  background: #0c55a0;
  border-radius: 62px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  border: none;
  padding: 10px 30px;
  margin: 1em 0;
}

.choosing_food .sched {
  text-align: center;
  padding: 5em 0;
}

.choosing_food .sched__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choosing_food .sched__filter img {
  width: 2%;
  padding: 0 1em;
}

.choosing_food .sched__filter .filter_text {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0c55a0;
  padding: 0 2em;
}

.choosing_food .sched__plan-sched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 4em 0 0 0;
}

@media only screen and (max-width: 481px) {
  .choosing_food .sched__plan-sched {
    display: block;
  }
}

.choosing_food .sched__plan-sched .plan_chosen {
  width: 40%;
  position: relative !important;
}

@media only screen and (max-width: 481px) {
  .choosing_food .sched__plan-sched .plan_chosen {
    width: 100%;
  }
}

.choosing_food .sched__plan-sched .plan_chosen .tl_50 {
  position: absolute !important;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

@media only screen and (max-width: 481px) {
  .choosing_food .sched__plan-sched .plan_chosen .tl_50 {
    top: 50%;
  }
}

.choosing_food .sched__plan-sched .plan_chosen .tl_50 .title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.choosing_food .sched__plan-sched .plan_chosen .tl_50 .desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 1.5em 0 0.5em 0;
}

.choosing_food .sched__plan-sched .plan_chosen .tl_50 .desc-2 {
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #0c55a0;
  padding: 0.5em 0;
}

.choosing_food .sched__plan-sched .plan_week {
  width: 60%;
  border-radius: 42px;
  -webkit-box-shadow: 0px 6px 6px 0px #ccc;
          box-shadow: 0px 6px 6px 0px #ccc;
  padding: 3em 0 0 0;
}

@media only screen and (max-width: 481px) {
  .choosing_food .sched__plan-sched .plan_week {
    width: 90%;
    margin: 0 auto;
  }
}

.choosing_food .sched__plan-sched .plan_week .title {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #0c55a0;
}

.choosing_food .sched__plan-sched .plan_week .dates {
  padding: 3em 0 5em 0;
}

.choosing_food .sched__plan-sched .plan_week .date-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.choosing_food .sched__plan-sched .plan_week .date-2 .day {
  width: 30%;
  font-size: 1.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.choosing_food .sched__plan-sched .plan_week .date-2 .input {
  width: 50%;
}

@media only screen and (max-width: 481px) {
  .choosing_food .sched__plan-sched .plan_week .date-2 .input {
    width: 60%;
  }
}

.choosing_food .sched .checkout {
  padding: 2em 0 0 0;
}

.choosing_food .sched .back {
  padding: 2em 0 0 0;
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
}

.weeks {
  text-align: center;
  overflow: hidden;
}

.weeks__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 3em 0 0 0;
}

.weeks__foods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weeks__foods__item {
  width: 25%;
}

.weeks__foods__title {
  font-size: 1.25rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top: 1em;
}

.weeks__foods__desc {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  padding-top: 0.856em;
}

.sched {
  text-align: center;
  padding: 5em 0;
  margin: 0 auto;
}

.sched__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sched__filter img {
  width: 2%;
  padding: 0 1em;
}

.sched__filter .filter_text {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0c55a0;
  padding: 0 2em;
}

.sched__plan-sched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  padding: 4em 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sched__plan-sched .plan_chosen {
  width: 40%;
  position: relative !important;
}

.sched__plan-sched .plan_chosen .tl_50 {
  position: absolute !important;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.sched__plan-sched .plan_chosen .tl_50 .title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.sched__plan-sched .plan_chosen .tl_50 .desc {
  font-size: 0.813rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.sched__plan-sched .plan_chosen .tl_50 .desc2 {
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #0c55a0;
  padding: 3em 0;
}

.sched__plan-sched .width_20 {
  width: 5%;
}

.sched__plan-sched .plan_week {
  width: 40%;
  border-radius: 42px;
  -webkit-box-shadow: 0px 6px 6px 0px #ccc;
          box-shadow: 0px 6px 6px 0px #ccc;
  padding: 3em 0 0 0;
}

.sched__plan-sched .plan_week .title {
  font-size: 1.875rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #0c55a0;
}

.sched__plan-sched .plan_week .dates {
  padding: 3em 0 5em 0;
}

.sched__plan-sched .plan_week .date-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.sched__plan-sched .plan_week .date-2 .day {
  width: 30%;
  font-size: 1.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.sched__plan-sched .plan_week .date-2 .input {
  width: 50%;
}

.sched .checkout {
  padding: 2em 0 0 0;
}

.sched .back {
  padding: 2em 0 0 0;
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
}

.check_food {
  text-align: center;
}

.check_food__title {
  font-size: 2.188rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0c55a0;
  padding: 3em 0;
}

@media only screen and (max-width: 481px) {
  .check_food__title {
    padding: 3em 1em;
  }
}

.check_food .plan_sched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
}

@media only screen and (max-width: 481px) {
  .check_food .plan_sched {
    display: block;
  }
}

.check_food .plan_sched__plan-chosen {
  width: 40%;
}

@media only screen and (max-width: 481px) {
  .check_food .plan_sched__plan-chosen {
    width: 100%;
  }
}

.check_food .plan_sched__plan-chosen .plan {
  position: relative;
}

.check_food .plan_sched__plan-chosen .plan .tl_50 {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.check_food .plan_sched__plan-chosen .plan .title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.check_food .plan_sched__plan-chosen .plan .desc {
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: 600;
  padding: 1.5em 0 0.5em 0;
}

.check_food .plan_sched__plan-chosen .plan .desc-2 {
  font-size: 0.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #0c55a0;
  padding: 0.5em 0;
}

.check_food .plan_sched__week-chosen {
  width: 40%;
  border-radius: 42px;
  -webkit-box-shadow: 0px 6px 6px 0px #ccc;
          box-shadow: 0px 6px 6px 0px #ccc;
  padding: 3em 0 5em 4em;
}

@media only screen and (max-width: 481px) {
  .check_food .plan_sched__week-chosen {
    width: 70%;
    padding: 3em 2em;
    margin: 0 auto;
  }
}

.check_food .plan_sched__week-chosen__title {
  font-size: 1.438rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.check_food .plan_sched__week-chosen__date-pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 2em 0 0 0;
}

.check_food .plan_sched__week-chosen__date-pick .date-pick_day {
  font-size: 0.938rem;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 15%;
}

@media only screen and (max-width: 481px) {
  .check_food .plan_sched__week-chosen__date-pick .date-pick_day {
    width: 20%;
  }
}

.check_food .plan_sched__week-chosen__date-pick .pick-food {
  font-size: 1.063rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.check_food .checkout {
  padding: 2em 0 0 0;
}

.check_food .back {
  padding: 2em 0 0 0;
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
}

.check_choices {
  text-align: center;
}

.check_choices .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
}

@media only screen and (max-width: 481px) {
  .check_choices .choice {
    display: block;
  }
}

.check_choices__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 3em 0;
}

.check_choices__plan-chosen {
  width: 40%;
}

@media only screen and (max-width: 481px) {
  .check_choices__plan-chosen {
    width: 100%;
  }
}

.check_choices__plan-chosen .plan {
  position: relative;
}

@media only screen and (max-width: 481px) {
  .check_choices__plan-chosen .plan {
    width: 100%;
  }
}

.check_choices__plan-chosen .compute {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1em 1em 0 0;
  width: 100%;
}

@media only screen and (max-width: 481px) {
  .check_choices__plan-chosen .compute {
    width: 100%;
  }
}

.check_choices__plan-chosen .compute__desc {
  width: 35%;
  font-size: 0.938rem;
  color: #0c55a0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.check_choices__plan-chosen .compute__price {
  width: 30%;
  font-size: 0.938rem;
  color: #0c55a0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.check_choices__plan-chosen .tl_50 {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: block;
}

.check_choices__plan-chosen .tl_50__title {
  font-size: 2.063rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.check_choices__plan-chosen .tl_50__desc {
  font-size: 0.75rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 1em 0;
}

.check_choices__plan-chosen .tl_50__desc2 {
  font-size: 1.25rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.check_choices__week-chosen {
  width: 40%;
  border-radius: 42px;
  -webkit-box-shadow: 0px 6px 6px 0px #ccc;
          box-shadow: 0px 6px 6px 0px #ccc;
  padding: 3em 0 5em 4em;
}

@media only screen and (max-width: 481px) {
  .check_choices__week-chosen {
    width: 70%;
    padding: 3em 2em;
    margin: 0 auto;
  }
}

.check_choices__week-chosen__title {
  font-size: 1.438rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.check_choices__week-chosen__date-pick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 2em 0 0 0;
}

.check_choices__week-chosen__date-pick .date-pick_day {
  font-size: 0.938rem;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 15%;
}

@media only screen and (max-width: 481px) {
  .check_choices__week-chosen__date-pick .date-pick_day {
    width: 20%;
  }
}

.check_choices__week-chosen__date-pick .pick-food {
  font-size: 1.063rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1366px;
}

.container .container_width_50 {
  width: 50%;
}

@media only screen and (max-width: 481px) {
  .container .container_width_50 {
    width: auto;
  }
}

.container .start_plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0 0 0;
  width: 40%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 481px) {
  .container .start_plan {
    width: 60%;
  }
}

.container .start_plan__btn {
  background: #0c55a0;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  border: none;
  border-radius: 57px;
  margin-top: 3 em;
  text-align: center;
}

.back-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1366px;
}

.back-container .container_width_50 {
  width: 50%;
}

@media only screen and (max-width: 481px) {
  .back-container .container_width_50 {
    width: auto;
  }
}

.back-container .back {
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  color: #d2d3d5;
  font-weight: 600;
  padding: 2em 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 0 2em 0;
  width: 40%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 481px) {
  .back-container .back {
    width: 100%;
  }
}

.checkout {
  text-align: center;
}

.checkout__title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 3em 0 0 0;
}

.checkout__desc {
  font-size: 0.938rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #0c55a0;
  padding: 1em 0;
}

.content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  padding: 4em 0 0 0;
  margin: 0 auto;
}

@media only screen and (max-width: 481px) {
  .content {
    display: block;
  }
}

.content .qr_code {
  width: 50%;
}

@media only screen and (max-width: 481px) {
  .content .qr_code {
    width: 100%;
  }
}

.content .qr_code__img {
  width: 100%;
}

.content .qr_code__txt {
  font-size: 1.688rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #0c55a0;
}

.content .qr_code__acc {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  color: #0c55a0;
  padding: 1em 0;
}

.content .qr_plan {
  width: 50%;
}

.notice {
  font-size: 0.938rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 5em 0;
}

.start_plan__btn {
  background: #0c55a0;
  padding: 20px 40px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  border: none;
  border-radius: 57px;
  margin-top: 3 em;
  text-align: center;
}

.start_plan .back {
  font-size: 0.75rem;
  color: #d2d3d5;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 3em 0;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 60px 20px;
  border: 1px solid #888;
  width: 45%;
  border-radius: 70px;
  text-align: center;
  /* The Close Button */
}

.modal-content .desc {
  padding: 1em 0;
  font-size: 0.938rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.modal-content .title {
  font-size: 2.188rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-bottom: 1em;
}

.modal-content .modal_btn {
  background: #0c55a0;
  border-radius: 23px;
  color: #fff;
  padding: 15px 60px;
  border: none;
  margin: 4em 0 0 0;
}

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  margin: 7.5625em 0 0 0;
  background: #0c55a0;
  text-align: center;
  padding: 3.5em 0;
}

.footer__txt {
  font-size: 0.75rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.footer__txt2 {
  padding: 0.5em 0 0 0;
  font-size: 0.938rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.carousel-pc {
  padding: 10em 0;
}

@media only screen and (max-width: 425px) {
  .carousel-pc {
    display: none;
  }
}

.carousel-sp {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5em 0;
  display: none;
}

@media only screen and (max-width: 425px) {
  .carousel-sp {
    display: block;
  }
}

.a-box {
  display: inline-block;
  text-align: center;
  width: 320px;
}

.img-container {
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  display: block;
}

.img-container .img-inner {
  height: 255px;
}

.img-container img {
  width: 100%;
  margin: 0 auto;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  height: 280px;
}

.text-container {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10em 20px 3em 20px;
  border-radius: 20px;
  background: #0c55a0;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container__desc {
  color: #fff;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  padding: 1em 0;
}

.text-container__btn {
  background: #fff;
  border-radius: 62px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  padding: 0.5em 2em;
  margin: 2em auto 1em auto;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.yogurt {
  background: url("../img/sect_bg.png");
  background-size: cover;
  background-position: center center;
  padding: 12em;
}

@media only screen and (max-width: 425px) {
  .yogurt {
    padding: 2em;
    text-align: center;
    background: url("../img/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
  }
}

.yogurt__title {
  font-size: 3.438rem;
  color: #0c55a0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .yogurt__title {
    font-size: 1.588rem;
    line-height: 33px;
  }
}

.yogurt__desc {
  font-size: 1.563rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0c55a0;
  padding: 1em 0;
}

@media only screen and (max-width: 425px) {
  .yogurt__desc {
    font-size: 1.588rem;
    font-weight: bold;
    padding: 0;
    line-height: 33px;
  }
}

.yogurt__choose {
  font-size: 0.938rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #0c55a0;
  padding: 0 0 3em 0;
  line-height: 20px;
}

@media only screen and (max-width: 425px) {
  .yogurt__choose {
    font-size: 1.2rem;
    padding: 2em 0;
  }
}

.yogurt__btn {
  border-radius: 62px;
  background: #0c55a0;
  color: #fff;
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  padding: 18px 38px;
}

.order {
  padding: 8.5em 0;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 425px) {
  .order {
    display: none;
  }
}

.order__title {
  font-size: 2.438rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #0c55a0;
}

.order__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 7em 0;
}

.order__logos .foodpanda {
  width: 30%;
}

.order__logos .grab {
  width: 30%;
}

.order__btn {
  border-radius: 62px;
  background: #0c55a0;
  color: #fff;
  font-size: 1.063rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
  padding: 18px 38px;
}
/*# sourceMappingURL=style.css.map */